.footer15-container {
  height: 510px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer15-max-width {
  display: flex;
  flex-direction: column;
}
.footer15-content {
  gap: var(--dl-space-space-twounits);
  width: var(--dl-size-size-maxwidth);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
}
.footer15-actions {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.footer15-newsletter {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer15-actions1 {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer15-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
.footer15-container1 {
  width: 365px;
  display: flex;
  align-items: stretch;
}
.footer15-text-input {
  width: 100%;
  background-color: transparent;
}
.footer15-button {
  fill: #69221E;
  color: #69221E;
  border-color: #69221E;
}
.footer15-credits {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.footer15-content3 {
  align-self: center;
}
.footer15-media {
  width: 597px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.footer15-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer15-image1 {
  height: 4rem;
}
.footer15-social-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}




















@media(max-width: 991px) {
  .footer15-content {
    flex-direction: row;
  }
  .footer15-newsletter {
    width: 50%;
  }
  .footer15-form {
    width: 100%;
    flex-direction: column;
  }
  .footer15-container1 {
    width: 100%;
  }
  .footer15-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .footer15-credits {
    flex-direction: column;
  }
  .footer15-content3 {
    align-self: center;
  }
  .footer15-media {
    width: 50%;
  }
  .footer15-image1 {
    height: 4rem;
  }
}
@media(max-width: 767px) {
  .footer15-content {
    gap: var(--dl-space-space-twounits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
  }
  .footer15-actions {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer15-newsletter {
    width: 100%;
  }
  .footer15-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer15-container1 {
    width: 100%;
  }
  .footer15-button {
    width: 208px;
  }
  .footer15-credits {
    flex-direction: column;
  }
  .footer15-media {
    width: 100%;
    align-items: center;
  }
}
@media(max-width: 479px) {
  .footer15-content {
    gap: var(--dl-space-space-twounits);
  }
  .footer15-newsletter {
    width: 100%;
  }
  .footer15-actions1 {
    width: 100%;
  }
  .footer15-form {
    width: 100%;
    flex-direction: column;
  }
  .footer15-container1 {
    width: 100%;
  }
  .footer15-button {
    width: 100%;
  }
  .footer15-media {
    width: 100%;
  }
  .footer15-image1 {
    height: 3rem;
  }
  .footer15-social-links {
    align-items: center;
    justify-content: center;
  }
}
